{:deps
 {org.clojure/core.async     {:mvn/version "1.3.618"}
  com.stuartsierra/component {:mvn/version "1.0.0"}
  environ/environ            {:mvn/version "1.2.0"}
  levand/immuconf            {:mvn/version "0.1.0"}}}
